.jquery-modal.blocker {
    z-index: 11;

    @media screen {
        @media (max-width: 767px) {
            padding: 0;
            width: 100%;
            max-width: none;
        }
    }
}


.modal {
    background: linear-gradient(85deg, #4650f6 0%, #141b8c 100%);
    box-shadow: none;
    border-radius: 20px;
    padding: 0;

    @media screen {
        @media (max-width: 767px) {
            padding: 0;
            width: 100%;
            border-radius: 0;
            max-width: none;
            min-height: 100%;
        }
    }

    a.close-modal {
        top: 20px;
        right: 20px;
    }

    .modal-wrapper {
        padding: 40px;
        padding-top: 80px;

        @media screen {
            @media (max-width: 767px) {
                padding: 40px 15px;
                padding-top: 80px;

            }
        }

        .faq-form-inner {
            width: 100%;

            .title {
                font-size: 1.2rem;
            }

            .default-input-wrapper {
                width: 100%;
                max-width: none;
            }

            .btn {
                max-width: none;
            }
        }
    }
}