.opportunities {
    .heading-wrapper {
        align-items: center;
        // margin-bottom: 70px;

        @media screen {
            @media (max-width: 1199px) {
                @include flex-column;
                gap: 30px;
                // margin-bottom: 40px;
                align-items: center;

                h2 {
                    padding-bottom: 0 !important;
                }
            }
        }
    }

    .switchers {
        margin-left: 80px;
        border-radius: 50px;
        background: $color-bg-grey;
        /*  padding: 10px 40px; */
        align-items: center;
        text-transform: uppercase;
        font-weight: $font-bold;
        font-size: .8rem;
        letter-spacing: 0.03em;

        position: relative;
        z-index: 0;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            border-radius: 50px;
            background: $color-bg-blue;
            z-index: -1;
            transition: $transition;
        }

        &.switchers.active:before {
            transform: translateX(100%);
        }

        @media screen {
            @media (max-width: 1199px) {
                margin-left: 0;
            }
        }
    }

    .switcher {
        padding: 15px 40px;
        color: $color-bg-blue;

        &.active {
            color: $color-text-white;
        }
    }
}

.opportunities-items {
    margin-top: 70px;
    gap: 30px;

    &:not(.active) {
        display: none;
    }

    @media screen {
        @media (max-width: 1199px) {
            gap: 20px;
            margin-top: 40px;

            .btn-wrapper {
                margin-top: 20px;
                @include text-center;
                width: 100%;
            }
        }

        @media (max-width: 767px) {
            @include flex-column;
            gap: 15px;

            .btn-wrapper {
                margin-top: 10px;
            }
        }
    }
}

.opportunities-item {
    width: calc(25% - 22.5px);
    border-radius: 20px;
    background: $color-bg-grey;
    padding: 40px;
    padding-bottom: 28px;
    gap: 30px;
    @include flex-column;

    .img-wrapper {
        width: 50px;

        img {
            display: block;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .text {
        font-family: $font-title;

        font-size: .7rem;
        line-height: 133%;
        letter-spacing: 0.03em;
    }

    @media screen {
        @media (max-width: 1199px) {
            width: calc(50% - 10px);
            padding: 20px;
            gap: 15px;

            .img-wrapper {
                width: 30px;
            }

            .text {
                font-size: 1rem;
            }
        }

        @media (max-width: 767px) {
            width: 100%;
        }
    }
}