.our-clients {
    h2 {
        padding-bottom: 70px;

        @media screen {
            @media (max-width: 1199px) {
                padding-bottom: 40px;
            }

            @media (max-width: 767px) {
                padding-bottom: 30px;
            }
        }
    }
}

.our-cliens-slider {
    position: relative;

    .swiper-container {
        overflow: visible;
    }

    .swiper-slide {
        width: 327px;
        height: 180px;
        border-radius: 20px;
        border: 1px solid #F5F5F5;
        position: relative;

        img {
            max-width: 50%;
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        @media screen {
            @media (max-width: 1199px) {
                width: 45vw;
                height: 24vw;
            }

            @media (max-width: 767px) {
                width: 82vw;
                height: 38vw;
            }
        }
    }

    .swiper-navigation {
        position: absolute;
        bottom: 100%;
        right: 0;
        margin-bottom: 70px;
        gap: 50px;

        @media screen {
            @media (max-width: 1199px) {
                display: none;
            }
        }
    }
}