footer {
    padding: 100px 0;
    background: #0F054C;
    width: 100%;
    color: $color-text-white;
}

.footer-inner {
    align-items: flex-end;
}


.footer-left {
    @include flex-column;
    gap: 25px;
    flex: 1;

    >.flex-block {
        align-items: center;
        gap: 50px;
    }

    .link {
        font-weight: 400;
        font-size: .6rem;
        letter-spacing: 0.03em;
        color: rgba($color-text-white, .4);
        border-bottom: 1px solid;

        &:hover,
        &:active {
            border-color: transparent;
        }
    }

    .location {
        position: relative;
        padding-left: 40px;
        font-size: .7rem;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 25px;
            height: 25px;
            background-image: url(../../media/icons/location-white.svg);
            @include bg-style;

        }
    }
}

.footer-logo {
    width: 187px;
}

.footer-right {
    margin-left: auto;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    padding-left: 5rem;

    .img-link {
        font-size: .65rem;
        padding-left: 50px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            @include flex-column;
        }

        &.mail:before {
            background: url(../media/icons/mail-white.svg);
        }

        &.phone:before {
            background: url(../media/icons/phone-white.svg);
        }
    }
}