footer {
    padding: 100px 0;
    background: #0F054C;
    width: 100%;
    color: $color-text-white;

    @media screen {
        @media (max-width: 1199px) {
            padding: 80px 0;
        }
    }
}

.footer-inner {
    align-items: flex-end;

    @media screen {
        @media (max-width: 1199px) {
            @include flex-column;
            gap: 30px;
            position: relative;
            padding-bottom: 50px;

            >* {
                width: 100%;
            }
        }

        @media (max-width: 767px) {
            gap: 50px;
        }
    }
}


.footer-left {
    @include flex-column;
    gap: 25px;
    flex: 1;

    >.flex-block {
        align-items: center;
        gap: 50px;

        @media screen {
            @media (max-width: 1199px) {
                width: 100%;
                justify-content: space-between;
            }

            @media (max-width: 767px) {
                @include flex-column;
                align-items: center;
                gap: 30px;
            }
        }
    }

    .link {
        font-weight: 400;
        font-size: .6rem;
        letter-spacing: 0.03em;
        color: rgba($color-text-white, .4);
        border-bottom: 1px solid;

        @media screen and (max-width: 1199px) {
            position: absolute;
            bottom: 0;
            right: 0;
        }

        @media screen and (max-width: 767px) {
            left: 50%;
            right: auto;
            transform: translateX(-50%);
            white-space: nowrap;
            display: inline;
        }

        &:hover,
        &:active {
            border-color: transparent;
        }
    }

    .location {
        position: relative;
        padding-left: 40px;
        font-size: .7rem;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 25px;
            height: 25px;
            background-image: url(../../media/icons/location-white.svg);
            @include bg-style;

        }
    }
}

.footer-logo {
    width: 187px;
}

.footer-right {
    margin-left: auto;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    padding-left: 5rem;

    @media screen {
        @media (max-width: 1399px) {
            flex: 1;
            width: auto;
        }

        @media (max-width: 1199px) {
            padding-left: 0;
            margin-left: 0;
            width: 100%;
        }

        @media (max-width: 767px) {
            @include flex-column;
            gap: 30px;
            /*   max-width: 70%;
            margin: 0 auto; */
            align-items: center;
        }
    }

    .img-link {
        font-size: .65rem;
        padding-left: 50px;
        position: relative;

        @media screen {
            @media (max-width: 767px) {
                font-size: .7rem;
            }
        }


        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            @include flex-column;
        }

        &.mail:before {
            background: url(../media/icons/mail-white.svg);
        }

        &.phone:before {
            background: url(../media/icons/phone-white.svg);
        }
    }
}